@font-face {
    font-family: poppins-300;
    src: url("../../src/Fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins-400;
    src: url("../../src/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-700;
    src: url("../../src/Fonts/Poppins/Poppins-Bold.ttf");
}
