#KasirAppsNavbar {
    width: 100vw;
    height: 60px;
    background-color: #807ffe;
    display: flex;
    align-items: center;
}

.navbar-content-container {
    margin-left: 5%;
}

.NavbarBrand {
    color: white;
    font-family: poppins-700;
    font-size: 34px;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.KasirNavbar-Menu-Container {
    margin-left: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.KasirNavbar-Menu {
    color: white;
    font-family: poppins-400;
    text-decoration: none;
    font-size: 18px;
}
